[Unit]
Description=Firefox Update Timer
Requires=firefoxupdate.service

[Timer]
Unit=firefoxupdate.service
OnBootSec=2min
RandomizedDelaySec=2400

[Install]
WantedBy=timers.target
